$waterBlue: #09c;

html, body {
 height: 100%;
 width: 100%; 
 margin: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

#text {
  display: block;
  text-align: center;
  width: 90%;
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 10%;
  text-shadow: 0px 1px 1px rgba(204,204,204,.8);
  font-weight: 400;
  font-size: 20px;
}

#status {
  font-size: 100px;
  display: block;
  font-weight: 800;
  line-height: 1;
  font-family: 'Anton', Impact, Helvetica, Verdana, sans-serif;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(51, 51, 51, .3);
}

@media screen and (min-width: 450px) {
  #text {
    width: 100%;
    left: 0;
    font-size: 34px;
    top: 35%;
  }
  #status {
    font-size: 170px;
  }
}

#water-level {
  position: absolute;
  bottom: 1em; //to counteract the wave height so it looks accurate
  width: 100%;
  left: 0;
  background: $waterBlue;
  background-image: -webkit-radial-gradient(white 70%, transparent 87%);
  background-image: radial-gradient(white 70%, transparent 87%);
  background-size:4em 2em;
  background-position: -1em -1em;
  background-repeat: repeat-x;
  height: 0;
  -webkit-transition: height 2s;
  transition: height 2s;
  -webkit-animation: waves 9s cubic-bezier(0.000, 0.000, 0.480, .8) infinite;
  animation: waves 9s cubic-bezier(0.000, 0.000, 0.480, .8) infinite;
}


#blue-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 1em;
  background: $waterBlue;
}

@-webkit-keyframes waves {
  from {  
    background-size:4em 1.9em;
    background-position: -1em -1em;
  }
  50% {
    background-size:4em 1.55em;
  }
  to {  
    background-size:4em 1.9em;
    background-position: 3em -1em;

  }
}

@keyframes waves {
  from {  
    background-size:4em 1.9em;
    background-position: -1em -1em;
  }
  50% {
    background-size:4em 1.55em;
  }
  to {  
    background-size:4em 1.9em;
    background-position: 3em -1em;

  }
}

#donate {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: #00394c;
  font-size: 14px;

  p {
    margin: 1em auto;
  }

  a {
    color: #00394c;
    text-decoration: none;
    border-bottom: 2px solid #00698c;
    &:hover {
      border-bottom: 2px solid #000;
    }
  }
}

@media screen and (min-width: 600px) { 
  #donate { 
    font-size: 18px;
  }
}

.water-level-marker {
  z-index: 2000;
  position: fixed;
  text-shadow: 0px 1px 1px rgba(204,204,204,.8);
  font-weight: 800;
  color: #00394c;

  [class*="level-"] {
    position: fixed;
    font-size: 14px;
    line-height: 1;
    border-bottom: 3px solid #000;
    width: 15px;

    span {
      display: block;
      position: relative;
      top: 9px;
      left: 22px;
      width: 12em;

      @media all and (min-width: 600px) and (min-height: 450px) {
        &.two-line {
          top: 16px;

          br {
            display: none;
          }
        }
      }
    }
  }

  .depth {
    display: none;

    $minDepth: 471;
    $emptyDepth: 501;
    $fullDepth: 681;
    $maxDepth: 711;
    @function depthNotchHeight($height) {
      @return ($height - $minDepth)/($maxDepth - $minDepth) * 100%
    }

    .level-1 {
      bottom: depthNotchHeight(501);
    }
    .level-2 {
      bottom: depthNotchHeight(531);
    }
    .level-3 {
      bottom: depthNotchHeight(561);
    }
    .level-4 {
      bottom: depthNotchHeight(591);
    }
    .level-5 {
      bottom: depthNotchHeight(621);
    }
    .level-6 {
      bottom: depthNotchHeight(651);
    }
    .level-7 {
      bottom: depthNotchHeight(681);
    }
    .sixths {
      display: none;
    }
    .thirds {
      display: block;
    }

    @media screen and (min-height: 600px) {
      .thirds {
        display: none;
      }
      .sixths {
        display: block;
      }
    }
  }

  .volume {
    display: none;

    .tenths {
      display: none;
    }
    .quarters {
      display: block;
    }

    $maxVolume: 107.2;
    // how often you want a notch / total height
    $volumeNotch: ((10 / $maxVolume) * 100) * 1%;

    .level-10 {
      bottom: $volumeNotch;
    }
    .level-20 {
      bottom: $volumeNotch * 2;
    }
    .level-25 {
      bottom: $volumeNotch * 2.5;
    }
    .level-30 {
      bottom: $volumeNotch * 3;
    }
    .level-40 {
      bottom: $volumeNotch * 4;
    }
    .level-50 {
      bottom: $volumeNotch * 5;
    }
    .level-60 {
      bottom: $volumeNotch * 6;
    }
    .level-70 {
      bottom: $volumeNotch * 7;
    }
    .level-75 {
      bottom: $volumeNotch * 7.5;
    }
    .level-80 {
      bottom: $volumeNotch * 8;
    }
    .level-90 {
      bottom: $volumeNotch * 9;
    }
    .level-capacity {
      bottom: ((100 / $maxVolume) * 100) * 1%;
    }

    @media screen and (min-height: 600px) {
      .quarters {
        display: none;
      }
      .tenths {
        display: block;
      }
    }
  }

  &.with-depth {
    .depth {
      display: block;
    }
  }

  &.with-volume {
    .volume {
      display: block;
    }
  }
}

#display-switch {
  position: fixed;
  top: 20px;
  right: 10px;

  a {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;

    &.selected {
      cursor: default;
      background-color: $waterBlue;
      color: #fff;
      border-radius: 20px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -8px;
        border-width: 8px 8px 0;
        border-style: solid;
        border-color: $waterBlue transparent;
        display: block;
        width: 0;
      }
    }
  }
}
