html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  position: relative;
  font-family: 'Open Sans', sans-serif; }

#text {
  display: block;
  text-align: center;
  width: 90%;
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 10%;
  text-shadow: 0px 1px 1px rgba(204, 204, 204, 0.8);
  font-weight: 400;
  font-size: 20px; }

#status {
  font-size: 100px;
  display: block;
  font-weight: 800;
  line-height: 1;
  font-family: 'Anton', Impact, Helvetica, Verdana, sans-serif;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(51, 51, 51, 0.3); }

@media screen and (min-width: 450px) {
  #text {
    width: 100%;
    left: 0;
    font-size: 34px;
    top: 35%; }

  #status {
    font-size: 170px; } }
#water-level {
  position: absolute;
  bottom: 1em;
  width: 100%;
  left: 0;
  background: #09c;
  background-image: -webkit-radial-gradient(white 70%, transparent 87%);
  background-image: radial-gradient(white 70%, transparent 87%);
  background-size: 4em 2em;
  background-position: -1em -1em;
  background-repeat: repeat-x;
  height: 0;
  -webkit-transition: height 2s;
  transition: height 2s;
  -webkit-animation: waves 9s cubic-bezier(0, 0, 0.48, 0.8) infinite;
  animation: waves 9s cubic-bezier(0, 0, 0.48, 0.8) infinite; }

#blue-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 1em;
  background: #09c; }

@-webkit-keyframes waves {
  from {
    background-size: 4em 1.9em;
    background-position: -1em -1em; }
  50% {
    background-size: 4em 1.55em; }
  to {
    background-size: 4em 1.9em;
    background-position: 3em -1em; } }
@keyframes waves {
  from {
    background-size: 4em 1.9em;
    background-position: -1em -1em; }
  50% {
    background-size: 4em 1.55em; }
  to {
    background-size: 4em 1.9em;
    background-position: 3em -1em; } }
#donate {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: #00394c;
  font-size: 14px; }
  #donate p {
    margin: 1em auto; }
  #donate a {
    color: #00394c;
    text-decoration: none;
    border-bottom: 2px solid #00698c; }
    #donate a:hover {
      border-bottom: 2px solid #000; }

@media screen and (min-width: 600px) {
  #donate {
    font-size: 18px; } }
.water-level-marker {
  z-index: 2000;
  position: fixed;
  text-shadow: 0px 1px 1px rgba(204, 204, 204, 0.8);
  font-weight: 800;
  color: #00394c; }
  .water-level-marker [class*="level-"] {
    position: fixed;
    font-size: 14px;
    line-height: 1;
    border-bottom: 3px solid #000;
    width: 15px; }
    .water-level-marker [class*="level-"] span {
      display: block;
      position: relative;
      top: 9px;
      left: 22px;
      width: 12em; }
      @media all and (min-width: 600px) and (min-height: 450px) {
        .water-level-marker [class*="level-"] span.two-line {
          top: 16px; }
          .water-level-marker [class*="level-"] span.two-line br {
            display: none; } }
  .water-level-marker .depth {
    display: none; }
    .water-level-marker .depth .level-1 {
      bottom: 12.5%; }
    .water-level-marker .depth .level-2 {
      bottom: 25%; }
    .water-level-marker .depth .level-3 {
      bottom: 37.5%; }
    .water-level-marker .depth .level-4 {
      bottom: 50%; }
    .water-level-marker .depth .level-5 {
      bottom: 62.5%; }
    .water-level-marker .depth .level-6 {
      bottom: 75%; }
    .water-level-marker .depth .level-7 {
      bottom: 87.5%; }
    .water-level-marker .depth .sixths {
      display: none; }
    .water-level-marker .depth .thirds {
      display: block; }
    @media screen and (min-height: 600px) {
      .water-level-marker .depth .thirds {
        display: none; }
      .water-level-marker .depth .sixths {
        display: block; } }
  .water-level-marker .volume {
    display: none; }
    .water-level-marker .volume .tenths {
      display: none; }
    .water-level-marker .volume .quarters {
      display: block; }
    .water-level-marker .volume .level-10 {
      bottom: 9.32836%; }
    .water-level-marker .volume .level-20 {
      bottom: 18.65672%; }
    .water-level-marker .volume .level-25 {
      bottom: 23.3209%; }
    .water-level-marker .volume .level-30 {
      bottom: 27.98507%; }
    .water-level-marker .volume .level-40 {
      bottom: 37.31343%; }
    .water-level-marker .volume .level-50 {
      bottom: 46.64179%; }
    .water-level-marker .volume .level-60 {
      bottom: 55.97015%; }
    .water-level-marker .volume .level-70 {
      bottom: 65.29851%; }
    .water-level-marker .volume .level-75 {
      bottom: 69.96269%; }
    .water-level-marker .volume .level-80 {
      bottom: 74.62687%; }
    .water-level-marker .volume .level-90 {
      bottom: 83.95522%; }
    .water-level-marker .volume .level-capacity {
      bottom: 93.28358%; }
    @media screen and (min-height: 600px) {
      .water-level-marker .volume .quarters {
        display: none; }
      .water-level-marker .volume .tenths {
        display: block; } }
  .water-level-marker.with-depth .depth {
    display: block; }
  .water-level-marker.with-volume .volume {
    display: block; }

#display-switch {
  position: fixed;
  top: 20px;
  right: 10px; }
  #display-switch a {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    color: #000; }
    #display-switch a.selected {
      cursor: default;
      background-color: #09c;
      color: #fff;
      border-radius: 20px;
      position: relative; }
      #display-switch a.selected:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -8px;
        border-width: 8px 8px 0;
        border-style: solid;
        border-color: #09c transparent;
        display: block;
        width: 0; }

/*# sourceMappingURL=style.css.map */
